header {
    width: calc(100% - 60px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

header>a>div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

header>a>div:first-child>div {
    display: flex;
    flex-direction: column;
}

header>a>div:first-child>div>span {
    text-transform: capitalize;
}

header img {
    margin-right: 10px;
}

header h1 {
    font-size: 28px;
    font-weight: inherit;
}

header>a>div:first-child>div>span {
    font-size: 13px;
    margin-top: 0px;
}

header a {
    color: var(--black);
    text-decoration: none;
}

header input[type='search'],
header input[type='submit'] {
    padding: 6px 8px;
    margin: 0;
    border-radius: 0;
    border: 1px solid #404040;
    margin: 0;
}

header input[type='search'] {
    width: 350px;
}
header form div{
    display: flex;
}
header input[type='submit'] {
    font-weight: bold;
    border-left: 0;
}
header>div:nth-child(3) a {
    color: var(--link);
    font-family: sans-serif;
}

header>div:nth-child(3) a:nth-child(2) {
    margin-left: 10px;
}
